<%= form_for [@task] do |f| %>
  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited
      this task from being updated:</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :fqdn %><br>
    <%= f.text_field :fqdn, :size => 100 %>
  </p>
  <p>
    <%= f.label :command %><br>
    <%= f.text_field :command, :size => 100 %>
  </p>
  <%= f.select :command_type, options_for_select( { :ssh => 'ssh' , :shell => 'shell', :disabled => nil },  @task.command_type  ) %>
  <p>
    <%= f.label :handler %><br>
    <%= f.text_area :handler, :size => '100x20', :text => (@task.handler||"").force_encoding('UTF-8') %>
  </p>
  <p>
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled, { :value => true , :checked => @task[:enabled], :title => 'enable / disable task synchronization '  }  %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

