<%= form_for [@host] do |f| %>
  <% if @host.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@host.errors.count, "error") %> prohibited
      this host from being updated:</h2>
    <ul>
    <% @host.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :fqdn %><br>
    <%= f.text_field :fqdn, :size => 100 %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => 100 %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

