<table class="table-striped table-bordered table">
<tr>
    <th colspan=3>Host Summary</th>
</tr>
<tr>
    <th>Fqdn</th>
    <th>Title</th>
    <th>Enabled</th>
</tr>

<tr>
    <td><%= @host.fqdn %></td>
    <td><%= @host.title %></td>
    <td><%= @host.enabled %></td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th>Actions</th>
</tr>
<tr>
  <td>  
        <%= link_to 'synchronize', synchronize_host_path(@host), :method => :POST, :title => 'synchronize host metrics' %> | 
        <%= link_to 'new metric', add_metric_form_host_path(@host), :title => 'add metric to host' %> | 
        <%= link_to 'edit', edit_host_path(@host), :title => 'edit host attributes' %> | 
        <%= link_to 'delete', host_path(@host), :method => :DELETE, :title => 'delete this host' %> 
  </td>
</tr>
</table>

<table class="table-bordered table-striped table">
<tr>
    <th colspan=4 >Metrics</th>
</tr>
<% if @host.has_metrics? %>
<tr>
    <th>Name</th>
    <th>Enabled</th>
    <th>Last Return Value</th>
    <th>Actions</th>
</tr>
<% @host.metrics.each do |m| %>
    <% task = @host.task(m.id) %>
    <tr>
        <td> 
            <%= link_to  m.title, metric_path(m), :title => 'show metric data'  %>
        </td>
        <td>
            <%= task.enabled %>
        </td>
        <td>
            <%= @host.metric_value(m) %>
        </td>
        <td>
            <%= link_to  'builds', task_builds_path(task), :title => 'show builds for metric'  %> |
            <%= link_to 'synchronize', synchronize_task_path(task), :method => :POST, :title => 'synchronize metric' %> |
            <% if task.enabled? %>
                <%= link_to 'disable', disable_task_path(task), :method => :post, :title => 'remove this metric from synchronazation' %> |
            <% else %>
                <%= link_to 'enable', enable_task_path(task), :method => :post, :title => 'add this metric to synchronazation' %>  |
            <% end %>
            <%= link_to 'remove', task_path(task), :method => :delete, :title => 'remove this metric from host' %>
        </td>
    </tr>
<% end %>
</table>
<% else %>
    <tr>
        <td colspan=2>0 metrics found</td>
    </tr>
<% end %>

