<table class="table-striped table-bordered table">
<tr>
    <th colspan=5>Host Summary</th>
</tr>
<tr>
    <th>Fqdn</th>
    <th>Title</th>
    <th>Has Subhosts?</th>
    <th>Subhosts</th>
    <th>Enabled</th>
</tr>

<tr>
    <td><%= @host.fqdn %></td>
    <td><%= @host.title %></td>
    <td><%= @host.has_sub_hosts? %></td>
    <td>
        <% if @host.has_sub_hosts? %>
        <ol>
        <% @host.subhosts.each do |sh| %>
            <li><%= link_to sh.obj.fqdn, metric_path(sh.obj) %> - 
                <%= link_to 'remove subhost', host_subhost_path(@host,sh), :method => :DELETE, :title => 'remove subhost from this host' %></li>
        <% end %>
        </ol>
        <% else %>
        <% end %>
    </td>
    <td><%= @host.enabled %></td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th colspan=5 > Actions </th>
</tr>
<tr>
    <td>  
        <%= link_to 'synchronize', synchronize_host_path(@host), :method => :POST, :title => 'synchronize host metrics' %>
    </td>
    <td>
        <%= link_to 'new metric', add_metric_form_host_path(@host), :title => 'add metric to host' %>
    </td>
    <td>
        <%= link_to 'edit', edit_host_path(@host), :title => 'edit host attributes' %>
    </td>
    <td>
        <%= link_to 'add host', new_host_subhost_path(@host), :title => 'add subhost' %>
    </td>
    <td>
        <%= link_to 'delete', host_path(@host), :method => :DELETE, :title => 'delete this host' %> 
    </td>
</tr>
</table>

<table class="table-bordered table-striped table">
<tr>
    <th colspan=14 >Metrics</th>
</tr>
<% if @host.has_metrics? %>
<tr>
    <th>Metric Name</th>
    <th>Metric ID</th>
    <th>Link ID</th>
    <th>Override Fqdn</th>
    <th>Override Command</th>
    <th>Override Command Type</th>
    <th>Override Handler</th>
    <th>Multi Metric?</th>
    <th>Metric Group</th>
    <th>Metric Group ID</th>
    <th>Enabled</th>
    <th>Current Value</th>
    <th>Default Value</th>
    <th>Actions</th>
</tr>

<% @host.metrics_flat_list.each do |i| %>
    <tr>
        <td> 
            <%= link_to  i[:metric].title, metric_path(i[:metric]), :title => 'show metric data'  %>
        </td>
        <td>
            <%= i[:metric].id %>
        </td>
        <td>
            <%= i[:task].id %>
        </td>
        <td>
            <% if i[:task].has_fqdn? %>
                <%= i[:task].fqdn %>
            <% else %>
                <%= i[:task].has_fqdn? %>
            <% end %>
        </td>
        <td>
            <% if i[:task].has_command? %>
                <%= i[:task].command %>
            <% else %>
                <%= i[:task].has_command? %>
            <% end %>
        </td>
        <td>
            <% if i[:task].has_command_type? %>
                <%= i[:task].command_type %>
            <% else %>
                <%= i[:task].has_command_type? %>
            <% end %>
        </td>
        <td>
            <% if i[:task].has_handler? %>
                <p><%= markdown "\n    #!ruby\n#{i[:task].handler.force_encoding('UTF-8').gsub(/^/,'    ' )}" %></p>
            <% else %>
                <%= i[:task].has_handler? %>
            <% end %>
        </td>
        <td>
            <%= i[:multi] %>
        </td>
        <td>
            <% if i[:multi] %>
                <%= link_to i[:group], metric_path(i[:group_metric]), :title => 'show multi metric data'  %>
            <% else %>
                ---
            <% end %>
        </td>
        <td>
            <% if i[:multi] %>
                <%= i[:group_metric].id  %>
            <% else %>
                ---
            <% end %>
        </td>
        <td>
            <%= i[:task].enabled %>
        </td>
        <td>

            <% if @host.has_sub_hosts? %>
            <ol>
            <% @host.subhosts_list.each do |sh| %>
                <li>
                    <strong><%= sh.fqdn %></strong> : <pre><%= sh.metric_value(i[:metric],nil) %></pre>
                    <% if sh.metric_has_timestamp?(i[:metric], nil) %>
                        <span class="<%= (sh.metric_timestamp(i[:metric],nil) <= 10.minutes.ago) ? "text-danger" : "text-muted" %>">
                            <%=  time_ago_in_words(sh.metric_timestamp(i[:metric], nil)) %> ago
                        </span>
                    <% end %>
                </li>
            <% end %>
            </ol>
            <% else %>
                <pre><%= @host.metric_value(i[:metric],nil) %></pre>
                    <% if @host.metric_has_timestamp?(i[:metric], nil) %>
                        <span class="<%= (@host.metric_timestamp(i[:metric],nil) <= 10.minutes.ago) ? "text-danger" : "text-muted" %>">
                            <%=  time_ago_in_words(@host.metric_timestamp(i[:metric], nil)) %> ago
                        </span>
                    <% end %>
            <% end %>
    
        </td>
        <td>
             <p><%= i[:metric].default_value %></p>
        </td>
        <td>
            <%= link_to  'builds', task_builds_path(i[:task]), :title => 'show builds for metric'  %> |
            <%= link_to 'synchronize', synchronize_task_path(i[:task]), :method => :POST, :title => 'synchronize metric' %> |
            <%= link_to 'edit', edit_task_path(i[:task]), :title => 'edit task' %> |
            <% if i[:task].enabled? %>
                <%= link_to 'disable', disable_task_path(i[:task]), :method => :post, :title => 'remove this metric from synchronazation' %> |
            <% else %>
                <%= link_to 'enable', enable_task_path(i[:task]), :method => :post, :title => 'add this metric to synchronazation' %>  |
            <% end %>
            <%= link_to 'remove', task_path(i[:task]), :method => :delete, :title => 'remove this metric from host' %>
        </td>
    </tr>
<% end %>
</table>
<% else %>
    <tr>
        <td colspan=14 > 0 metrics found</td>
    </tr>
<% end %>

