<table class="table-striped table-bordered table">
<tr>
    <th colspan=3>Host summary</th>
</tr>
<tr>
    <th>Fqdn</th>
    <th>Title</th>
    <th>Enable</th>
</tr>

<tr>
    <td><%= @host.fqdn %></td>
    <td><%= @host.title %></td>
    <td><%= @host.enabled %></td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th>Actions</th>
</tr>
<tr>
  <td>  <%= link_to 'edit host', edit_host_path(@host), :title => 'edit host attributes' %> | 
        <%= link_to 'add metric to host', add_metric_form_host_path(@host), :title => 'add metric to host' %> | 
        <%= link_to 'delete host', host_path(@host), :method => :DELETE, :title => 'delete this host' %> 
  </td>
</tr>
</table>

<table class="table-bordered table-striped table">
<tr>
    <th colspan=2>Available Metrics</th>
</tr>
<% if @host.has_metrics? %>
<tr>
    <th>name</th>
    <th>actions</th>
</tr>
<% @host.metrics.each do |m| %>
    <tr>
        <td> 
            <%= link_to  m.title, metric_path(m), :title => 'show metric data'  %>
        </td>
        <td>
            <%= link_to 'remove', task_path(@host.tasks.select{|i| i[:metric_id] == m.id }.first), :method => :delete, :title => 'remove this metric from host' %> 
        </td>
    </tr>
<% end %>
</table>
<% else %>
    <tr>
        <td colspan=2>0 metrics found</td>
    </tr>
<% end %>

