<table class="table-striped table-bordered table">
<tr>
    <th colspan=3>Host Summary</th>
</tr>
<tr>
    <th>Fqdn</th>
    <th>Title</th>
    <th>Enabled</th>
</tr>

<tr>
    <td><%= @host.fqdn %></td>
    <td><%= @host.title %></td>
    <td><%= @host.enabled %></td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th colspan=4 > Actions </th>
</tr>
<tr>
    <td>  
        <%= link_to 'synchronize', synchronize_host_path(@host), :method => :POST, :title => 'synchronize host metrics' %>
    </td>
    <td>
        <%= link_to 'new metric', add_metric_form_host_path(@host), :title => 'add metric to host' %>
    </td>
    <td>
        <%= link_to 'edit', edit_host_path(@host), :title => 'edit host attributes' %>
    </td>
    <td>
        <%= link_to 'delete', host_path(@host), :method => :DELETE, :title => 'delete this host' %> 
    </td>
</tr>
</table>

<table class="table-bordered table-striped table">
<tr>
    <th colspan=15 >Metrics</th>
</tr>
<% if @host.has_metrics? %>
<tr>
    <th>Metric Name</th>
    <th>Metric ID</th>
    <th>Link ID</th>
    <th>Override Fqdn</th>
    <th>Override Command</th>
    <th>Override Command Type</th>
    <th>Override Handler</th>
    <th>Multi Metric?</th>
    <th>Metric Group</th>
    <th>Metric Group ID</th>
    <th>Enabled</th>
    <th>Current Value</th>
    <th>Default Value</th>
    <th>TimeStamp</th>
    <th>Actions</th>
</tr>

<% @host.metrics_flat_list.each do |i| %>
    <tr>
        <td> 
            <%= link_to  i[:metric].title, metric_path(i[:metric]), :title => 'show metric data'  %>
        </td>
        <td>
            <%= i[:metric].id %>
        </td>
        <td>
            <%= i[:task].id %>
        </td>
        <td>
            <% if i[:task].has_fqdn? %>
                <%= i[:task].fqdn %>
            <% else %>
                <%= i[:task].has_fqdn? %>
            <% end %>
        </td>
        <td>
            <% if i[:task].has_command? %>
                <%= i[:task].command %>
            <% else %>
                <%= i[:task].has_command? %>
            <% end %>
        </td>
        <td>
            <% if i[:task].has_command_type? %>
                <%= i[:task].command_type %>
            <% else %>
                <%= i[:task].has_command_type? %>
            <% end %>
        </td>
        <td>
            <% if i[:task].has_handler? %>
                <p><%= markdown "\n    #!ruby\n#{i[:task].handler.force_encoding('UTF-8').gsub(/^/,'    ' )}" %></p>
            <% else %>
                <%= i[:task].has_handler? %>
            <% end %>
        </td>
        <td>
            <%= i[:multi] %>
        </td>
        <td>
            <% if i[:multi] %>
                <%= link_to i[:group], metric_path(i[:group_metric]), :title => 'show multi metric data'  %>
            <% else %>
                ---
            <% end %>
        </td>
        <td>
            <% if i[:multi] %>
                <%= i[:group_metric].id  %>
            <% else %>
                ---
            <% end %>
        </td>
        <td>
            <%= i[:task].enabled %>
        </td>
        <td>
             <p class="<%= @host.metric_value_diviated?(i[:metric]) ? 'text-danger' : 'text-success' %>" ><%= @host.metric_value(i[:metric]) %></p>
        </td>
        <td>
             <p><%= i[:metric].default_value %></p>
        </td>
        <td>
        <% if @host.metric_has_timestamp?(i[:metric]) %>
            <span class="<%= (@host.metric_timestamp(i[:metric]) <= 10.minutes.ago) ? "text-danger" : "text-muted" %>">
                <%=  time_ago_in_words(@host.metric_timestamp(i[:metric])) %> ago</span>
        <% end %>
        </td>
        <td>
            <%= link_to  'builds', task_builds_path(i[:task]), :title => 'show builds for metric'  %> |
            <%= link_to 'synchronize', synchronize_task_path(i[:task]), :method => :POST, :title => 'synchronize metric' %> |
            <%= link_to 'edit', edit_task_path(i[:task]), :title => 'edit task' %> |
            <% if i[:task].enabled? %>
                <%= link_to 'disable', disable_task_path(i[:task]), :method => :post, :title => 'remove this metric from synchronazation' %> |
            <% else %>
                <%= link_to 'enable', enable_task_path(i[:task]), :method => :post, :title => 'add this metric to synchronazation' %>  |
            <% end %>
            <%= link_to 'remove', task_path(i[:task]), :method => :delete, :title => 'remove this metric from host' %>
        </td>
    </tr>
<% end %>
</table>
<% else %>
    <tr>
        <td colspan=15 > 0 metrics found</td>
    </tr>
<% end %>

