<table class="table-bordered table-striped table">
    <tr>
        <td colspan=1 >
            Builds for host <strong><%= @task.host.fqdn %></strong> and metric <strong><%= @task.metric.title %></strong>
        </td>
        <td colspan=1 >
            <%= link_to 'run new build', synchronize_task_path(@task), :method => :post %>
        </td>
        <td colspan=4 >
            <%= link_to 'back to host', host_path(@task.host)  %>
        </td>
    </tr>
    <% if @task.has_builds? %>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Duration</th>
        <th>State</th>
        <th>Last Return Value</th>
        <th>Actions</th>
    </tr>
    <% @builds.each do |item| %>
    <tr>
        <td><%= link_to item.id, task_build_path(@task,item), :title => 'see log data'  %></td>
        <td><%= item.created_at.strftime('%B %d, %Y at %H:%M') %></td>
        <td><%= item.duration || '?' %> seconds</td>
        <td><%= item.state %></td>
        <td><%= (item.retval||"").force_encoding('UTF-8') %></td>
        <td>
            <%= link_to 'delete build', task_build_path(@task, item), :method => :delete %>
        </td>
    </tr>
    <% end %>
    <% else %>
    <tr>
        <td colspan=5> no builds found </td>
    <tr>
    <% end %>
</table>
