<table class="table-striped table-bordered table">
<tr>
    <th colspan=1 >
        Build Summary
    </th>
    <th colspan=1 >
        <%= link_to 'run new build', synchronize_task_path(@build.task), :method => :post %>
    </th>
    <th colspan=1 >
        <%= link_to 'delete build', task_build_path(@task, @build), :method => :delete %>
    </th>
    <th colspan=4 >
        <%= link_to 'back to builds', task_builds_path(@build.task) %>
    </th>
</tr>
<tr>
    <th>ID</th>
    <th>Date</th>
    <th>State</th>
    <th>Duration</th>
    <th>Host</th>
    <th>Metric</th>
    <th>Last Return Value</th>
</tr>

<tr>
    <td><%= @build.id %></td>
    <td><%= @build.created_at.strftime('%B %d, %Y at %H:%M')  %></td>
    <td><%= @build.state %></td>
    <td><%= @build.duration || '?' %> seconds </td>
    <td><%= link_to @build.task.host.fqdn, host_path(@build.task.host) %></td>
    <td><%= link_to @build.task.metric.title, metric_path(@build.task.metric)  %></td>
    <td><%= (@build.retval||"").force_encoding("UTF-8") %></td>
</tr>
</table>

<table class="table-bordered table-striped table">
<tr>
    <th colspan=3>Logs</th>
</tr>
<% if @build.has_logs? %>
<tr>
    <th>Date</th>
    <th>Level</th>
    <th>Data</th>
</tr>
<% @build.logs.each do |l| %>
    <tr>
        <td>
            <%= l.created_at.strftime('%B %d, %Y at %H:%M') %>
        </td>
        <td>
            <%= l.level %>
        </td>
        <td>
            <% if l.level == 'ruby' %>
                <%= markdown "\n    #!ruby\n#{l.chunk.force_encoding('UTF-8').gsub(/^/,'    ' )}" %>
            <% else %>
                <pre><%= (l.chunk||"").force_encoding("UTF-8") %></pre>
            <% end %>
        </td>
    </tr>
<% end %>

<% else %>
    <tr>
        <td colspan=6 >no logs found</td>
    </tr>
<% end %>
</table>

