<%= form_for [@report] do |f| %>
  <% if @report.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited
      this report from being updated:</h2>
    <ul>
    <% @report.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => 100 %>
  </p>
  <p>  
    <%= f.select :layout_type, options_for_select( { :table => 'table' , :free => 'free' },  @report.layout_type  ) %>
  </p>  
  <p>
    <%= f.label :handler %><br>
    <%= f.text_area :handler, :size => '100x20', :text => (@report.handler||"").force_encoding('UTF-8') %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

