<table class="table-bordered table-striped table">
    <tr>
        <th colspan=6 ><%= link_to 'New Report', new_report_path %></th>
    </tr>
</table>

<table class="table-bordered table-striped table">
    <tr>
            <th colspan=8 >Reports List</th>
    </tr>

    <% unless @reports.empty? %>

    <tr>
        <th> title </th>
        <th colspan=5> actions </th>
    </tr>
    <% @reports.each do |item| %>
    
    <tr>
        <td>
            <%= link_to item.title, view_report_path(item), :title => 'view report data'  %>
        </td>
        <td>
            <%= link_to 'synchronize', synchronize_report_path(item), :title => 'request report synchronization', :method => :POST %>
        </td>
        <td>
            <%= link_to 'images', report_images_path(item), :title => 'view report data' %>
        </td>
        <td>
            <%= link_to 'edit', edit_report_path(item), :title => 'edit report attributes' %>
        </td>
        <td>
            <%= link_to 'structure', report_path(item), :title => 'view report data' %>
        </td>
        <td>
            <%= link_to 'add host', add_host_form_report_path(item), :title => 'add host to report' %>
        </td>
        <td>
            <%= link_to 'add metric', add_metric_form_report_path(item), :title => 'add metric to report' %>
        </td>
        <td>
            <%= link_to 'delete', report_path(item), :method => :DELETE, :title => 'delete this report' %>
        </td>
    </tr>
    
    <% end %>

    <% else %>
    <tr>
        <td colspan=8 >0 reports found</td>
    </tr>
    <% end %>
</table>
