<table class="table-striped table-bordered table">
<tr>
    <th colspan=1 >Report Summary</th>
</tr>
<tr>
    <th>Title</th>
</tr>

<tr>
    <td><%= @report.title %></td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th colspan=7 >Actions</th>
</tr>
<tr>

    <td>  
        <%= link_to 'synchronize', synchronize_report_path(@report), :title => 'synchronzie report data', :method => :POST, :id => 'synchronize'  %>
    </td>
    <td>  
        <%= link_to 'view', view_report_path(@report), :title => 'view report current image' %>
    </td>
    <td>  
        <%= link_to 'images', report_images_path(@report), :title => 'view report images' %>
    </td>
    <td>  
        <%= link_to 'edit', edit_report_path(@report), :title => 'edit report attributes' %>
    </td>
    <td>
        <%= link_to 'add host', add_host_form_report_path(@report), :title => 'add host to report' %>
    </td>
    <td>
        <%= link_to 'add metric', add_metric_form_report_path(@report), :title => 'add metric to report' %>
    </td>
    <td>
        <%= link_to 'delete', report_path(@report), :method => :DELETE, :title => 'delete this report' %> 
    </td>
</tr>
</table>


<table class="table-bordered table-striped table">
<tr>
    <th colspan=2 >Hosts</th>
</tr>
<% if @report.has_hosts? %>
<tr>
    <th>Name</th>
    <th>Actions</th>
</tr>


<% @report.hosts_list.each do |i| %>
    <tr>
        <td> 
            <%= link_to  i[:host].fqdn, host_path(i[:host]), :title => 'show host data'  %>
        </td>
        <td>
            <%= link_to 'remove', point_path(i[:point]), :method => :delete, :title => 'remove this host from report' %>
        </td>
    </tr>
<% end %>
</table>
<% else %>
    <tr>
        <td colspan=7 > 0 hosts found</td>
    </tr>
<% end %>



<table class="table-bordered table-striped table">
<tr>
    <th colspan=7 >Metrics</th>
</tr>
<% if @report.has_metrics? %>
<tr>
    <th>Metric Name</th>
    <th>Link ID</th>
    <th>Metric ID</th>
    <th>Multi Metric?</th>
    <th>Metric Group</th>
    <th>Metric Group ID</th>
    <th>Actions</th>
</tr>


<% @report.metrics_flat_list.each do |i| %>
    <tr>
        <td> 
            <%= link_to  i[:metric].title, metric_path(i[:metric]), :title => 'show metric data'  %>
        </td>
        <td>
            <%= i[:point].id %>
        </td>
        <td>
            <%= i[:metric].id %>
        </td>
        <td>
            <%= i[:multi] %>
        </td>
        <td>
            <% if i[:multi] %>
                <%= link_to i[:group], metric_path(i[:group_metric]), :title => 'show multi metric data'  %>
            <% else %>
                ---
            <% end %>
        </td>
        <td>
            <% if i[:multi] %>
                <%= i[:group_metric].id %>
            <% else %>
                ---
            <% end %>
        </td>
        <td>
            <%= link_to 'remove', xpoint_path(i[:point]), :method => :delete, :title => 'remove this metric from report' %>
        </td>
    </tr>
<% end %>
</table>
<% else %>
    <tr>
        <td colspan=6 > 0 metrics found</td>
    </tr>
<% end %>

