<table class="table-striped table-bordered table">
<tr>
    <th colspan=1 >Report Summary</th>
</tr>
<tr>
    <th>Title</th>
</tr>

<tr>
    <td><%= @report.title %></td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th colspan=5 >Actions</th>
</tr>
<tr>
    <td>  
        <%= link_to 'edit', edit_report_path(@report), :title => 'edit report attributes' %>
    </td>
    <td>  
        <%= link_to 'view', view_report_path(@report), :title => 'view report data' %>
    </td>
    <td>
        <%= link_to 'add host', add_host_form_report_path(@report), :title => 'add host to report' %>
    </td>
    <td>
        <%= link_to 'add metric', add_metric_form_report_path(@report), :title => 'add metric to report' %>
    </td>
    <td>
        <%= link_to 'delete', report_path(@report), :method => :DELETE, :title => 'delete this report' %> 
    </td>
</tr>
</table>


<table class="table-bordered table-striped table">
<tr>
    <th colspan=2 >Hosts</th>
</tr>
<% if @report.has_hosts? %>
<tr>
    <th>Name</th>
    <th>Actions</th>
</tr>

<%- list = [] %>
<% @report.hosts.each do |h| %>
    <% list << { :host => h, :point => @report.point(h.id) } %>
<% end %>

<% list.each do |i| %>
    <tr>
        <td> 
            <%= link_to  i[:host].fqdn, host_path(i[:host]), :title => 'show host data'  %>
        </td>
        <td>
            <%= link_to 'remove', point_path(i[:point]), :method => :delete, :title => 'remove this host from report' %>
        </td>
    </tr>
<% end %>
</table>
<% else %>
    <tr>
        <td colspan=7 > 0 hosts found</td>
    </tr>
<% end %>

