<table class="table-striped table-bordered table">
<tr>
    <th>Title</th>
</tr>
<tr>
    <td><%= link_to @report.title, report_path(@report)  %></td>
</tr>
</table>

<%- host_list = [] %>
<% @report.hosts.each do |h| %>
    <% host_list << { :host => h, :point => @report.point(h.id) } %>
<% end %>


<%- m_list = [] %>
<% @report.metrics.each do |m| %>
    <% if m.multi? %>
        <% m.submetrics.each do |sm| %>
            <%- m_list << { :point => @report.xpoint(m.id) , :metric => sm.obj, :multi => true, :group => m.title, :group_metric => sm.metric } %>
        <% end %>
    <% else %>
        <% m_list << { :point => @report.xpoint(m.id) , :metric => m, :multi => false } %>
    <% end %>
<% end %>

<table class="table-striped table-bordered table">
<tr>
    <th>Metrcis/Hosts</th>
<% host_list.each do |i| %>
        <th class="text-info">
            <%= link_to  i[:host].fqdn, synchronize_host_path(i[:host]), :method => :POST, :title => 'synchronize host metrics' %> 
        </th>
<% end %>
</tr>

<% m_list.each do |i| %>
<tr>
    <td class="text-info">
        <%= i[:metric].title %>
    </td>
    <% host_list.each do |j| %>
            <td> 
                <%= j[:host].metric_value(i[:metric]) %>
                <% if j[:host].metric_has_timestamp?(i[:metric]) %>
                    <span class="text-primary"><%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago</span>
                <% end %>
    
            </td>
    <% end %>
</tr>
<% end %>
</table>

