<table class="table-striped table-bordered table">
<tr>
    <th>Title</th>
    <th>Actions</th>
</tr>
<tr>
    <td><strong><%= @report.title %></strong></td>
    <td>
         <%= link_to 'edit', report_path(@report), :title => 'edit report attributes'  %> |
        <%= link_to 'synchronize', synchronize_report_path(@report), :title => 'synchronzie report data', :method => :POST, :id => 'synchronize'  %>
    </td>
</td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th>Metric/Host</th>
<% @report.hosts_list.each do |i| %>
        <td>
            <strong class="text-info"><%= link_to  i[:host].fqdn, host_path(i[:host]), :title => i[:host].title  %></strong>
            <sub><%= link_to  'sync', synchronize_host_path(i[:host]), :method => :POST, :title => 'request synchronization'  %></sub>
        </td>
<% end %>
</tr>

<% @report.metrics_flat_list.each do |i| %>
<tr>
    <th class="text-info">
        <%= link_to i[:metric].title, metric_path(i[:metric])  %>
    </th>
    <% @report.hosts_list.each do |j| %>
            <% status = j[:host].metric_status(i[:metric]);  %> 
            <th class="<%=  j[:host].metric_status_as_text(i[:metric])  %>">
                <% if status == -1 %>
                    <span title="status: unknown metric">!</span>
                <% elsif status == -2 %>
                    <span title="status: deviated. default value: <%= i[:metric].default_value %>. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago">
                        <%= link_to j[:host].metric_value(i[:metric]), task_build_path( j[:host].metric_task(i[:metric]), j[:host].metric_build(i[:metric]) )    %>
                    </span>
                <% elsif status == -3 %>
                    <span title="status: has no timestamp.">?</span>
                <% elsif status == -4 %>
                    <span title="status: outdated. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago">
                        <%= link_to j[:host].metric_value(i[:metric]), task_build_path( j[:host].metric_task(i[:metric]), j[:host].metric_build(i[:metric]) )    %>
                    </span>
                <% elsif status == 1 %>
                    <span title="status: ok; last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago">
                        <%= link_to j[:host].metric_value(i[:metric]), task_build_path( j[:host].metric_task(i[:metric]), j[:host].metric_build(i[:metric]) )    %>
                    </span>
                <% end %>
            </th>
    <% end %>
</tr>
<% end %>
</table>

