<table class="table-striped table-bordered table">
<tr>
    <th>Title</th>
    <th>Actions</th>
</tr>
<tr>
    <td><strong><%= @report.title %></strong></td>
    <td>
         <%= link_to 'edit', report_path(@report), :title => 'edit report attributes'  %> |
        <%= link_to 'synchronize', synchronize_report_path(@report), :title => 'synchronzie report data', :method => :POST, :id => 'synchronize'  %>
    </td>
</td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th>Metric/Host</th>
<% @report.hosts_list.each do |i| %>
        <td>
            <strong class="text-info"><%= link_to  i[:host].fqdn, host_path(i[:host]), :title => i[:host].title  %></strong>
            <sub><%= link_to  'sync', synchronize_host_path(i[:host]), :method => :POST, :title => 'request synchronization'  %></sub>
        </td>
<% end %>
</tr>

<% @report.metrics_flat_list.each do |i| %>
<tr>
    <th class="text-info" title="<%= i[:metric].title %>" >
        <%= link_to i[:metric].name||i[:metric].title, metric_path(i[:metric]), :title => i[:metric].title %>
    </th>
    <% @report.hosts_list.each do |j| %>
            <% status = j[:host].metric_status(i[:metric]);  %> 
            <% status_desc = j[:host].metric_status_as_text(i[:metric]);  %> 
            <th><table><tr><td bgcolor="<%=  j[:host].metric_status_as_color(i[:metric])  %>" width="10" height="10" title="status: <%= status_desc  %>"></td></tr></table>
                <% if status == -1 %>
                    <span title="status: <%= status_desc  %>">?!</span>
                <% elsif status == -2 %>
                   <small class="text-mute"><%= link_to j[:host].metric_build(i[:metric]).id, task_build_path( j[:host].metric_task(i[:metric]), j[:host].metric_build(i[:metric]) ), :title => 'see log data'    %></small>
                    <pre  title="status: <%= status_desc  %>. default value: <%= i[:metric].default_value %>. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago" ><%= j[:host].metric_value(i[:metric]) %></pre>
                <% elsif status == -3 %>
                    <span title="status: <%= status_desc  %>">?</span>
                <% elsif status == -4 %>
                    <small class="text-mute"><%= link_to j[:host].metric_build(i[:metric]).id, task_build_path( j[:host].metric_task(i[:metric]), j[:host].metric_build(i[:metric]) ), :title => 'see log data'    %></small>
                    <pre  title="status: <%= status_desc  %>. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago" ><%= j[:host].metric_value(i[:metric]) %></pre>
                <% elsif status == 1 %>
                    <small class="text-mute"><%= link_to j[:host].metric_build(i[:metric]).id, task_build_path( j[:host].metric_task(i[:metric]), j[:host].metric_build(i[:metric]) ), :title => 'see log data'    %></small>
                    <pre  title="status: <%= status_desc  %>. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago" ><%= j[:host].metric_value(i[:metric]) %></pre>
                <% end %>
            </th>
    <% end %>
</tr>
<% end %>
</table>

