<script>

// refresh every 5 seconds
setTimeout(function(){ window.location.reload(1);}, 5000);

</script>

<table class="table-striped table-bordered table">
<tr>
    <th>Title</th>
</tr>
<tr>
    <td><%= link_to @report.title, report_path(@report)  %></td>
</tr>
</table>

<%- host_list = [] %>
<% @report.hosts.each do |h| %>
    <% host_list << { :host => h, :point => @report.point(h.id) } %>
<% end %>

<table class="table-striped table-bordered table">
<tr>
    <th>Metric/Host</th>
<% host_list.each do |i| %>
        <td>
            <strong class="text-info"><%= link_to  i[:host].fqdn, host_path(i[:host])  %></strong>
            <sub><%= link_to  'sync', synchronize_host_path(i[:host]), :method => :POST, :title => 'request synchronization'  %></sub>
        </td>
<% end %>
</tr>

<% @report.metrics_flat_list.each do |i| %>
<tr>
    <th class="text-info">
        <%= link_to i[:metric].title, metric_path(i[:metric])  %>
    </th>
    <% host_list.each do |j| %>
            <td> 
                <% if j[:host].has_metric? i[:metric] %>
                    <%= j[:host].metric_value(i[:metric]) %>
                    <% if j[:host].metric_has_timestamp?(i[:metric]) %>
                        <span class="<%= (j[:host].metric_timestamp(i[:metric]) <= 10.minutes.ago) ? "text-danger" : "text-muted" %>">
                            <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago</span>
                    <% end %>
                <% else %>
                    <span class="text-danger" title="this metric is unknown for this host">?</span>
                <% end %>
            </td>
    <% end %>
</tr>
<% end %>
</table>

