<script>

// refresh every 5 seconds
// setTimeout(function(){ window.location.reload(1);}, 5000);

</script>

<table class="table-striped table-bordered table">
<tr>
    <th>Title</th>
</tr>
<tr>
    <td><%= link_to @report.title, report_path(@report)  %></td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th>Metric/Host</th>
<% @report.hosts_list.each do |i| %>
        <td>
            <strong class="text-info"><%= link_to  i[:host].fqdn, host_path(i[:host])  %></strong>
            <sub><%= link_to  'sync', synchronize_host_path(i[:host]), :method => :POST, :title => 'request synchronization'  %></sub>
        </td>
<% end %>
</tr>

<% @report.metrics_flat_list.each do |i| %>
<tr>
    <th class="text-info">
        <%= link_to i[:metric].title, metric_path(i[:metric])  %>
    </th>
    <% @report.hosts_list.each do |j| %>
            <% status = j[:host].metric_status(i[:metric]);  %> 
            <td class="text-<%=  j[:host].metric_status_as_text(i[:metric])  %>"> 
                <% if status == -1 %>
                    <span title="status: unknown metric">-</span>
                <% elsif status == -2 %>
                    <span title="status: deviated. default value: <%= j[:host].metric_default_value(i[:metric]) %>"><%= j[:host].metric_value(i[:metric]) %></span>
                <% elsif status == -3 %>
                    <span title="status: has no timestamp.">?</span>
                <% elsif status == -4 %>
                    <span title="status: outdated. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago"><%= j[:host].metric_value(i[:metric]) %></span>
                <% elsif status == 1 %>
                    <span title="status: ok; last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric])) %> ago"><%= j[:host].metric_value(i[:metric]) %></span>
                <% end %>
            </td>
    <% end %>
</tr>
<% end %>
</table>

