<table class="table-striped table-bordered table">
<tr>
    <th>Report Title</th>
</tr>
<tr>
    <td><strong><%= link_to @report.title, report_path(@report), :title => 'edit report attributes'  %></strong></td>
</td>
</tr>
</table>


<table class="table-bordered table">

    <% cols = [] %>

    <% @stats.each do  |i| %>
    

    <% age = time_ago_in_words(Time.at(i[:timestamp])) %>
    
    <% if i[:status] == 'DJ_OK' and  Time.at(i[:timestamp]) > 10.minutes.ago  and i[:deviated] == false %>
        <% css_class = 'success'  %>
        <% status = 'ok'  %>
    <% elsif i[:status] == 'DJ_OK' and  Time.at(i[:timestamp]) <= 10.minutes.ago  and i[:deviated] == false %>
        <% css_class = 'warning' %>
        <% status = 'outdated'  %>
    <% elsif i[:status] == 'DJ_OK' and  Time.at(i[:timestamp]) > 10.minutes.ago  and i[:deviated] == true %>
        <% css_class = 'danger' %>
        <% status = 'deviated'  %>
    <% elsif i[:status].include? 'ERROR'  %>
        <% css_class = 'danger' %>
        <% status = i[:status]  %>
    <% else  %>
        <% css_class = 'info' %>
        <% status = i[:status]  %>
    <% end %>

    <% cols << [ i, "status: #{status}. updated: #{age} ago. default value: #{i.metric[:default_value]} ", css_class ] %>

        <% if ( cols.size > 1 and cols.at(-1)[0].host_id !=  cols.at(-2)[0].host_id )   %>
            <tr>
               <th width="100"><%= cols[0][0].host.fqdn_short %></th>
                <% while ( i = cols.shift and cols.size > 1  ) %>
                    <% stat = i[0]; title = i[1]; css_class = i[2]; %>
                    <td title="<%= title %>" class="<%= css_class %>">
                        <up><font size=1><%= stat.metric.title %></font></up>
                        <pre title="<%= title %>"><%= (stat.value||"").force_encoding('UTF-8') %></pre>
                    </td>
                <% end %>
            </tr>
        <% end %>
    <% end %>
</table>


<!--

mysql> desc stats;
+------------+--------------+------+-----+---------+----------------+
| Field      | Type         | Null | Key | Default | Extra          |
+------------+--------------+------+-----+---------+----------------+
| id         | int(11)      | NO   | PRI | NULL    | auto_increment |
| value      | mediumblob   | YES  |     | NULL    |                |
| metric_id  | int(11)      | YES  | MUL | NULL    |                |
| timestamp  | int(11)      | YES  |     | NULL    |                |
| host_id    | int(11)      | YES  |     | NULL    |                |
| created_at | datetime     | YES  |     | NULL    |                |
| updated_at | datetime     | YES  |     | NULL    |                |
| task_id    | int(11)      | YES  | MUL | NULL    |                |
| image_id   | int(11)      | YES  | MUL | NULL    |                |
| status     | varchar(255) | YES  |     | PENDING |                |
| deviated   | tinyint(1)   | YES  |     | 0       |                |
| duration   | int(11)      | YES  |     | NULL    |                |
+------------+--------------+------+-----+---------+----------------+
12 rows in set (0.00 sec)

-->
