<table class="table-striped table-bordered table">
<tr>
    <th>Report Title</th>
    <th>Report Tag ID</th>
</tr>
<tr>
    <td><strong><%= @report.title %></strong></td>
    <td><strong><%= @tag_id %></strong></td>
</td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th colspan=2>Actions</th>
</tr>
<tr>
    <td>
        <%= link_to 'edit', report_path(@report), :title => 'edit report attributes'  %>
    </td>
    <td>
        <%= link_to 'synchronize', synchronize_report_path(@report), :title => 'synchronzie report data', :method => :POST, :id => 'synchronize'  %>
    </td>
</td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th>Archived Reports</th>
</tr>
<tr>
    <td>
        <%- if @report.has_tags? %>
            <%= form_for :report, url: view_report_path(@report), :method => :GET  do |f| %>
                <%= select_tag :tag_id, options_for_select(@report.tags.reverse.map {|i| a= []; a[0] = 'ID:' + "#{i.id}" + ' > ' + i.created_at.strftime('%B %d, %Y at %H:%M'); a[1]= i.id;  a   }), {}  %>
                <%= f.submit :value => 'view' %>
            <% end %>
        <% else %>
        0 archived reports found
        <% end %>
    </td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th>Metric/Host</th>
<% @report.hosts_list.each do |i| %>
        <td>
            <strong class="text-info"><%= link_to  i[:host].fqdn, host_path(i[:host]), :title => i[:host].title  %></strong>
            <sub><%= link_to  'sync', synchronize_host_path(i[:host]), :method => :POST, :title => 'request synchronization'  %></sub>
        </td>
<% end %>
</tr>

<% @report.metrics_flat_list.each do |i| %>
<tr>
    <th class="text-info" title="<%= i[:metric].title %>" >
        <%= link_to i[:metric].name||i[:metric].title, metric_path(i[:metric]), :title => i[:metric].title %>
    </th>
    <% @report.hosts_list.each do |j| %>
            <% status = j[:host].metric_status(i[:metric], @tag_id);  %> 
            <% status_desc = j[:host].metric_status_as_text(i[:metric], @tag_id);  %> 
            <th><table><tr><td bgcolor="<%=  j[:host].metric_status_as_color(i[:metric], @tag_id)  %>" width="10" height="10" title="status: <%= status_desc  %>"></td></tr></table>
                <% if status == -1 %>
                    <span title="status: <%= status_desc  %>">?!</span>
                <% elsif status == -2 %>
                   <small class="text-mute"><%= link_to j[:host].metric_build(i[:metric], @tag_id).id, task_build_path( j[:host].metric_task(i[:metric], @tag_id), j[:host].metric_build(i[:metric], @tag_id) ), :title => 'see log data'    %></small>
                    <pre  title="status: <%= status_desc  %>. default value: <%= i[:metric].default_value %>. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric], @tag_id)) %> ago" ><%= j[:host].metric_value(i[:metric], @tag_id) %></pre>
                <% elsif status == -3 %>
                    <span title="status: <%= status_desc  %>">?</span>
                <% elsif status == -4 %>
                    <small class="text-mute"><%= link_to j[:host].metric_build(i[:metric], @tag_id).id, task_build_path( j[:host].metric_task(i[:metric], @tag_id), j[:host].metric_build(i[:metric], @tag_id) ), :title => 'see log data'    %></small>
                    <pre  title="status: <%= status_desc  %>. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric], @tag_id)) %> ago" ><%= j[:host].metric_value(i[:metric], @tag_id) %></pre>
                <% elsif status == 1 %>
                    <small class="text-mute"><%= link_to j[:host].metric_build(i[:metric], @tag_id).id, task_build_path( j[:host].metric_task(i[:metric], @tag_id), j[:host].metric_build(i[:metric], @tag_id
) ), :title => 'see log data'    %></small>
                    <pre  title="status: <%= status_desc  %>. last update: <%=  time_ago_in_words(j[:host].metric_timestamp(i[:metric], @tag_id)) %> ago" ><%= j[:host].metric_value(i[:metric], @tag_id) %></pre>
                <% end %>
            </th>
    <% end %>
</tr>
<% end %>
</table>

