<table class="table-striped table-bordered table">
<tr>
    <th>Report Title</th>
    <th>Report Tag ID</th>
</tr>
<tr>
    <td><strong><%= @report.title %></strong></td>
    <td><strong><%= @tag_id %></strong></td>
</td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th colspan=3 >Actions</th>
</tr>
<tr>
    <td>
        <%= link_to 'edit', report_path(@report), :title => 'edit report attributes'  %>
    </td>
    <td>
        <%= link_to 'synchronize', synchronize_report_path(@report), :title => 'synchronzie report data', :method => :POST, :id => 'synchronize'  %>
    </td>
    <td>
        <% if @tag_id.nil? %>
            <%= link_to 'archive', tag_report_path(@report), :title => 'archive current report', :method => :POST  %>
        <% end %>
    </td>
</td>
</tr>
</table>

<table class="table-striped table-bordered table">
<tr>
    <th>Avalable Reports</th>
</tr>
<%- if @report.has_tags? %>
<tr>
    <th>
        ID / Date
    </th>
<tr>
<tr>
    <td>
            <%= form_for :report, url: view_report_path(@report), :method => :GET  do |f| %>
                <%= select_tag :tag_id, options_for_select([['Latest', nil]] + @report.tags.reverse.map {|i| a= []; a[0] = 'ID:' + "#{i.id}" + ' |  ' + i.created_at.strftime('%a, %B %d at %H:%M'); a[1]= i.id;  a   }, :selected => @tag_id ), {}  %>
                <%= f.submit :value => 'view' %>
            <% end %>
    </td>
</tr>
<% else %>
<tr>
    <td> 0 archived reports found </td>
</tr>
<% end %>
</table>

<table class="table-bordered table">

<% @data.keys.sort.map { |i| @data[i] }.each do |h_stat|  %>

    <% host = h_stat[:host] %>

    <tr>
        <td>
            <strong class="text-info"><%= link_to  host.fqdn, host_path(host), :title => host.title  %></strong>
            <sub><%= link_to  'sync', synchronize_host_path(host), :method => :POST, :title => 'request synchronization'  %></sub>
        </td>
    
        <% h_stat[:stat].each do |s| %>
            <% m = s[:metric] %>
            <% age = s[:known] ? time_ago_in_words(s[:timestamp]) : nil  %>
            <td bgcolor="<%=  s[:status_as_color] %>" title="<%= m.title %>. status: <%= s[:status_desc]  %>" >
                <%= link_to m.name||m.title, metric_path(m), :title => m.title %>
                <% if s[:known]  %>
                    |  <%= link_to "[#{s[:build].id}]", task_build_path( s[:task], s[:build] ), :title => 'see log data'  %>
                    <pre  title="status: <%= s[:status_desc]  %>. default value: <%= s[:default_value] %>. last update: <%=  age %> ago" ><%= s[:value] %></pre>
                <% else%>
                    <pre title="status: <%= s[:status_desc]  %>"><%= s[:value] %></pre>
                <% end %>
            </td>
        <% end %>
    </tr>
    <% end %>
</table>

