<table class="table-striped table-bordered table">
<tr>
    <th>Report Title</th>
</tr>
<tr>
    <td><strong><%= link_to @report.title, report_path(@report), :title => 'edit report attributes'  %></strong></td>
</td>
</tr>
</table>


<table class="table-bordered table">

    <% j = 0 %>

    <% cur_host = nil %>

    <% @stats.each do  |i| %>
    
    <% j += 1 %>

    <% if j == 1 %>
        <% cur_host = i.host_id %>
        <tr>
            <th><%= i.host.fqdn_short %></th>
            <td><pre title="status: <%= i.status %>"><%= (i.value||"").force_encoding('UTF-8') %></pre></td>
    <% end %>

    <% if j > 1 and cur_host == i.host_id %>
            <td><pre title="status: <%= i.status %>"><%= (i.value||"").force_encoding('UTF-8') %></pre></td>
    <% elsif j > 1 and cur_host != i.host_id  %>
            </td>
        </tr>
        <tr>
            <th><%= i.host.fqdn_short %></th>
            <td><pre title="status: <%= i.status %>"><%= (i.value||"").force_encoding('UTF-8') %></pre></td>
            <% cur_host = i.host_id %>
    <% end %>

    <% end %>

</td></tr>
</table>


<!--

mysql> desc stats;
+------------+--------------+------+-----+---------+----------------+
| Field      | Type         | Null | Key | Default | Extra          |
+------------+--------------+------+-----+---------+----------------+
| id         | int(11)      | NO   | PRI | NULL    | auto_increment |
| value      | mediumblob   | YES  |     | NULL    |                |
| metric_id  | int(11)      | YES  | MUL | NULL    |                |
| timestamp  | int(11)      | YES  |     | NULL    |                |
| host_id    | int(11)      | YES  |     | NULL    |                |
| created_at | datetime     | YES  |     | NULL    |                |
| updated_at | datetime     | YES  |     | NULL    |                |
| task_id    | int(11)      | YES  | MUL | NULL    |                |
| image_id   | int(11)      | YES  | MUL | NULL    |                |
| status     | varchar(255) | YES  |     | PENDING |                |
| deviated   | tinyint(1)   | YES  |     | 0       |                |
| duration   | int(11)      | YES  |     | NULL    |                |
+------------+--------------+------+-----+---------+----------------+
12 rows in set (0.00 sec)

-->
