<h2>Add subhost to host [<%= @host.title %>]</h2>
<%= form_for [@host,@host.subhosts.build] do |f| %>
  <% if @host.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@host.errors.count, "error") %> prohibited
      this host from being updated:</h2>
    <ul>
    <% @host.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.select :sub_host_id, options_for_select( @sub_hosts ), {}  %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

