<table class="table-bordered table-striped table">
<tr>
    <th>
        Stat Summary
    </th>
    <th>
        <%= link_to 'back to image', report_image_path(@report, @image) %>
    </th>
    <th colspan=6 >
        <%= link_to 'back to images', report_images_path(@report) %>
    </th>
</tr>
<tr>
    <th>Stat ID</th>
    <th>Stat Metric ID</th>
    <th>Stat Metric Title</th>
    <th>Stat Status</th>
    <th>Stat Duration</th>
    <th>Image ID</th>
    <th>Report ID</th>
    <th>Report Title</th>
</tr>

<tr>
    <td><%= @stat.id %></td>
    <th><%= @stat.metric.id %></th>
    <th><%= @stat.metric.title %></th>
    <td><%= @stat.status %></td>
    <td><%= @stat.duration %> sec</td>
    <td><%= @image.id %></td>
    <td><%= @report.id %></td>
    <td><%= @report.title %></td>
</tr>
</table>


<table class="table-bordered table-striped table">
    <% if @stat.has_logs? %>
    <tr>
        <th>Date</th>
        <th>Level</th>
        <th>Message</th>
    </tr>
    <% @logs.each do |item| %>
    <tr>
        <td><%= item.created_at.strftime('%B %d, %Y at %H:%M') %></td>
        <td><%= item.level %></td>
        <td><%= (item.chunk||'').force_encoding('UTF-8') %></td>
    </tr>
    <% end %>
    <% else %>
    <tr>
        <td colspan=3> no logs found </td>
    <tr>
    <% end %>
</table>
