
<%= form_for [@metric] do |f| %>
  <% if @metric.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@metric.errors.count, "error") %> prohibited
      this metric from being updated:</h2>
    <ul>
    <% @metric.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => 100 %>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, :size => 100 %>
  </p>
  <p>
    <%= f.label :verbose %><br>
    <%= f.check_box :verbose, { :value => true , :checked => @metric[:verbose]  }  %>
  </p>
  <p>
    <%= f.label :command %><br>
    <%= f.text_field :command, :size => 100 %>
  </p>

  <p> 
     <%= link_to "update metric form file:", upload_from_file_metric_path(@metric), :method => :POST %>
     <small><%= @metric_file_path %></small>
  </p>

  <p>
    <%= f.label :handler %><br>
    <%= f.text_area :handler, :size => '100x20', :text => (@metric.handler||"").force_encoding('UTF-8'), :id => 'code' %>
  </p>
  <%= f.select :command_type, options_for_select(['ssh', 'shell' ], :selected => @metric.command_type),  {} %>
  <p>
    <%= f.label :default_value %><br>
    <%= f.text_field :default_value, :size => 100 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


