<table class="table-bordered table-striped table">
    <tr>
        <th> <%= link_to 'New Metric', new_metric_path %> </th>
    </tr>
</table>

<table class="table-bordered table-striped table">
    <tr><th colspan=8 > Metrics List </th></tr>
    <tr>
        <th>title</th>
        <th>name</th>
        <th>command</th>
        <th>command type</th>
        <th>default value</th>
        <th>verbose</th>
        <th>has sub metrics?</th>
        <th>has handler?</th>
    </tr>
    <% @metrics.each do |item| %>
    <tr>
        <td><%= link_to item.title, metric_path(item), :title => 'edit metric'  %></td>
        <td><%= item.name %></td>
        <td><strong><code><%= item.command %></code></strong></td>
        <td><%= item.command_type %></td>
        <td><%= item.default_value %></td>
        <td><%= item.verbose %></td>
        <td><%= item.has_sub_metrics? %></td>
        <td><%= item.has_handler? %></td>
    </tr>
    <% end %>
</table>
