<table class="table-bordered table-striped table">
    <tr>
        <th colspan=8 >metric summary</th>
    </tr>
    <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Command</th>
        <th>Command Type</th>
        <th>Default Value</th>
        <th>Has Handler?</th>
        <th>Verbose?</th>
        <th>Sub Metrics</th>
    </tr>
    <tr>
        <td><%= @metric.title %></td>
        <td><%= @metric.name %></td>
        <td><code><%= @metric.command %></code></td>
        <td><%= @metric.command_type %></td>
        <td><%= @metric.default_value %></td>
        <td><%= @metric.has_handler? %></td>
        <td><%= @metric.verbose %></td>
        <td>
            <% if @metric.has_sub_metrics? %>
            <ol>
            <% @metric.submetrics.each do |sm| %>
                <li><%= link_to sm.obj.title, metric_path(sm.obj) %> - 
                    <%= link_to 'remove submetric', metric_submetric_path(@metric,sm), :method => :DELETE, :title => 'remove submetric for this metric' %></li>
            <% end %>
            </ol>
            <% else %>
            <% end %>
        </td>
    </tr>
</table>

<table class="table-bordered table-striped table">
    <tr>
        <th colspan=4 >Actions</th>
    </tr>
    <tr>
        <td>
            <%= link_to 'edit metric', edit_metric_path(@metric), :title => 'edit metric attributes' %>
        </td>
        <td>
            <%= link_to 'add sub metric', new_metric_submetric_path(@metric), :title => 'add submetric to this metric' %>
        </td>
        <td>
            <%= link_to 'delete metric', metric_path(@metric), :method => :DELETE, :title => 'delete this metric' %>
        </td>
        <td>
            <%= link_to "update metric form file: ", upload_from_file_metric_path(@metric), :method => :POST %> <%= @metric_file_path %>
        </td>
    </tr>
</table>

<% if @metric.has_handler? %>
<table class="table-bordered table-striped table" >
    <tr>
        <th>metric handler</th>
    </tr>
    <tr>
        <td>
            <p><%= markdown "\n    #!ruby\n#{@metric.handler.force_encoding('UTF-8').gsub(/^/,'    ' )}" %></p>
        </td>
    </tr>
</table>
<% end %>





