<table class="table-striped table-bordered table">
    <tr>
        <th colspan=6 >metric summary</th>
    </tr>
    <tr>
        <th>Title</th>
        <th>Command</th>
        <th>Command Type</th>
        <th>Default Value</th>
        <th>Sub Metrics</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td><%= @metric.title %></td>
        <td><%= @metric.command %></td>
        <td><%= @metric.command_type %></td>
        <td><%= @metric.default_value %></td>
        <td>
            <% if @metric.has_sub_metrics? %>
            <ol>
            <% @metric.sub_metrics.each do |sm| %>
                <li><%= link_to sm.metric.title, metric_path(sm.metric) %></li>
            <% end %>
            </ol>
            <% else %>
            ---
            <% end %>
        </td>
        <td>
            <%= link_to 'edit metric', edit_metric_path(@metric), :title => 'edit metric attributes' %> | 
            <%= link_to 'add sub metric', new_metric_sub_metrics_path(@metric), :title => 'add submetric to this metric' %> | 
            <%= link_to 'delete metric', metric_path(@metric), :method => :DELETE, :title => 'delete this metric' %>
        </td>
    </tr>
</table>






