<table class="table-bordered table-striped table">
    <tr>
        <th colspan=2>
            Report Images
        </th>
    </tr>
    <tr>
        <th>
            ID
        </th>
        <th>
            Title
        </th>
    </tr>
    <tr>
        <td><%= @report.id %></td>
        <td><%= @report.title %></td>
    </tr>
    
</table>

<table class="table-bordered table-striped table">
    <% if @report.has_images? %>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    <% @images.each do |item| %>
    <tr>
        <td><%= link_to item.id, report_image_path(@report, item), :title => 'see image stat'  %></td>
        <td><%= item.created_at.strftime('%B %d, %Y at %H:%M') %></td>
        <td>
            <%= link_to 'delete image', report_image_path(@report, item), :method => :delete %>
        </td>
    </tr>
    <% end %>
    <% else %>
    <tr>
        <td colspan=2> no images found </td>
    <tr>
    <% end %>
</table>
