<table class="table-striped table-bordered table">
<tr>
    <th>
        Image Summary
    </th>
    <th>
        <%= link_to 'back to images', report_images_path(@report) %>
    </th>
    <th colspan=2>
        <%= link_to 'image report', report_image_path(@report, @image), :title => 'see image report'  %>
    </th>
</tr>
<tr>
    <th>Image ID</th>
    <th>Date</th>
    <th>Report ID</th>
    <th>Report Title</th>
</tr>

<tr>
    <td><%= @image.id %></td>
    <td><%= @image.created_at.strftime('%B %d, %Y at %H:%M')  %></td>
    <td><%= @report.id %></td>
    <th><%= @report.title %></th>
</tr>
</table>

<table class="table-bordered table-striped table">
<tr>
    <th colspan=5 >Stats</th>
</tr>
<% if @image.has_stats? %>
<tr>
    <th>ID</th>
    <th>Date</th>
    <th>Title</th>
    <th>Status</th>
    <th>Log</th>
</tr>
<% @image.stats.each do |l| %>
    <tr>
        <td>
            <%= l.id  %>
        </td>
        <td>
            <%= l.created_at.strftime('%B %d, %Y at %H:%M') %>
        </td>
        <td>
            <%= link_to l.metric.title, metric_path(l.metric), :title => 'see metric data'  %>
        </td>
        <td>
            <%= l.status %>
        </td>
        <td>
            <%= link_to 'Log', report_image_stat_logs_path(@report, @image, l), :title => 'see stat log data'  %>
        </td>
    </tr>
<% end %>

<% else %>
    <tr>
        <td colspan=4 >no stats found</td>
    </tr>
<% end %>
</table>

